html {
    background-color: #9edbd6;
  }

#container {
    width: 700px;
    background-color:#bcc2c1;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border: 1px solid black;
}

#menu ul{
    height:30px;
    margin:0;
    padding:0;
    border: 1px solid black;
    background-color:black;
    }

#menu li {
    list-style: none; 
    padding: 0px 10px;
    margin:5px 7px;
    display:inline;
    color: white;
    float:left;
    font-family: arial, sans-serif;
}

#header {
    font-family: Trebuchet MS, sans-seriff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    margin-left:auto;
    margin-right:auto;
}

.subtitle {
    font-family: times, serif;
    font-variant: small-caps;
}
#content {
    margin-left:10px;
    font-family:Trebuchet MS, sans-serif;
    text-align:left;
}

.recuo {
    text-align:left;
    margin-left:50px;
}
